In [2]:
import pandas as pd

df = pd.DataFrame({"Name":["Aryan","Idris","Raj","Idris"]})
s = pd.Series([],dtype="i")
for i in range(3):
    s[i] = i
print(s)
print()

for i in range(len(df)):
    print(df.iloc[i])

0    0
1    1
2    2
dtype: int64

Name    Aryan
Name: 0, dtype: object
Name    Idris
Name: 1, dtype: object
Name    Raj
Name: 2, dtype: object
Name    Idris
Name: 3, dtype: object

In [22]:
print(df.head(0))

Empty DataFrame
Columns: [Name]
Index: []

In [6]:
df.rename(columns={"Name":"Kings"}, inplace=True)
display(df)

# print(df["Kings"].unique())
# print()
# print(df)
# age = [1,2,3,4,5]
# df["Age"] = age

# print(df)
# print()
# split = df.Kings.str.split(expand=True)
# print(df["Kings"])
# print()

# maxValue = df.Age.max()
# print(maxValue)
# print(df.where(df.Age == maxValue))
# print()

# for i in range(len(df)):
#     df[df.columns[i].lower()] = df[df.columns[i]]
    
# print(df)
df = df.rename(row = str.lower)
print(df)

   Kings
0  Aryan
1  Idris
2    Raj
3  Idris

TypeError: rename() got an unexpected keyword argument 'row'